body {
    background-color: #FEFFDE;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.calculator {
    display: grid;
    width: 375px;
    margin: 40px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(90px, auto) repeat(5, 80px);
    border: solid 10px #FEFFDE;
    border-radius: 10px;
    padding: 0;
    grid-gap: 10px;
    background-color: #FEFFDE;
}

.output {
    grid-column: 1 / -1;
    height: 80px;
    background-color: #FFE8E8;
    padding: 15px;
    border-radius: 3px;
    text-align: right;
}

.upper-output {
    font-size: 20px;
    margin-bottom: 15px;
    min-height: 25px;
}

.lower-output {
    font-size: 40px;
}

.clear {
    grid-column-start: span 2;
}

#equal {
    grid-column-start: span 2;
}

button.number, button.decimal {
    background-color: #FFE8E8;
    box-shadow: 0px 4px #ffc1c1;
}

button.operator {
    background-color: #FFB4B4;
    box-shadow: 0px 4px #faa2a2;
}

button.clear, button.delete, button#equal{
    background-color: #FFE699;
    box-shadow: 0px 4px #ffdd78;
}

button {
    color: rgb(87, 87, 87);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}

button.decimal {
    font-size: 20px;
    font-weight: bolder;
}
